.author {
  display: inline-block;

  @media (max-width: 768px) {
    display: block;
  }

  &__img {
    width: 3.2rem;
    height: auto;
    margin-bottom: 0.3rem;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 36px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 26px;
    border: 2px solid #3676a7;
  }
}
